@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@400;600&display=swap");
@import "tailwindcss";

html,
body {
	height: 100%;
	margin: 0;
	background: #121212; /* same as bg-gray-950 or your choice */
}
body {
	font-family: Arial, Helvetica, sans-serif;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield; /* Firefox */
}

img {
	pointer-events: none;

	user-select: none;
	-webkit-user-drag: none;
}

p,
button,
h2,
h3 {
	font-family: "Spectral", serif;
}

p {
	font-size: 1.5rem;
}

button {
	font-size: 20px;
}

.font-spectral {
	font-family: "Spectral", serif;
}

@keyframes rainbow-glow {
	0% {
		box-shadow: 0 0 10px 2px red;
	}
	20% {
		box-shadow: 0 0 10px 2px orange;
	}
	40% {
		box-shadow: 0 0 10px 2px yellow;
	}
	60% {
		box-shadow: 0 0 10px 2px green;
	}
	80% {
		box-shadow: 0 0 10px 2px blue;
	}
	100% {
		box-shadow: 0 0 10px 2px violet;
	}
}

.rainbow-glow {
	animation: rainbow-glow 2s infinite;
}
